<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="Admin"><img class="img" src="../assets/image/logo1.jpg"></a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">News Update</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="Admin"><i class='bx bx-home'></i> HOME</a></li>
          <li>
            <a href="Businessadmin"><i class='bx bx-category'></i> CATEGORIES</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="Businessadmin"><i class='bx bxs-business'></i> BUSINESS</a></li>
              <li><a href="Educationadmin"><i class='bx bxs-book'></i> EDUCATION</a></li>
              <li><a href="Sportsadmin"><i class='bx bx-trophy' ></i> SPORTS</a></li>
              <li><a href="Technologyadmin"><i class='bx bx-desktop'></i> TECHNOLOGY</a></li>
              <li><a href="Weatheradmin"><i class='bx bx-wind'></i> WEATHER</a></li>
            </ul>
          </li>
          <li>
            <a href="Englishadmin"><i class='bx bxs-news'></i> NEWSPAPERS</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="Englishadmin"><i class="fas fa-globe"></i> ENGLISH</a></li>
              <li><a href="Hindiadmin"><i class="fas fa-newspaper"></i> HINDI</a></li>
              <li><a href="Kannadaadmin"><i class="fas fa-book-open"></i> KANNADA</a></li>
              <li><a href="Malayalamadmin"><i class="fas fa-network-wired"></i> MALAYALAM</a></li>
              <li><a href="Tamiladmin"><i class="fas fa-align-justify"></i> TAMIL</a></li>
              <li><a href="Teluguadmin"><i class="fas fa-newspaper"></i> TELUGU</a></li>
            </ul>
          </li>
          <li><a href="Feedback"><i class='bx bx-comment-dots'></i> COMMENT</a></li>
          <li><a href="Userdetails"><i class='bx bxs-user-rectangle'></i> USERDETAILS</a></li>
          <li><a href="Home"><i class='bx bx-log-out'></i> LOGOUT</a></li>
        </ul>
      </div>

    </div>
  </nav>
  <br> <br> <br>
  <main>
    <!-------------------------------- START OF HTML FOR ENGLISH ----------------------------------->
    <a href="Englishadmin">
      <section class="card">
        <h1 class="card-header">English</h1>
          <img src="../assets/image/english.jpg">
      </section>
    </a>
    <!-------------------------------------------------------------------------------------------------->

    <!-------------------------------- START OF HTML FOR HINDI ------------------------------------>
    <a href="Hindiadmin">
      <section class="card">
        <h1 class="card-header">Hindi</h1>
          <img src="../assets/image/hindi.png">
      </section>
    </a>
    <!---------------------------------------------------------------------------------------------------->

    <!---------------------------------- START OF HTML FOR KANNADA -------------------------------------->
    <a href="Kannadaadmin">
      <section class="card">
        <h1 class="card-header">Kannada</h1>
          <img src="../assets/image/kannada.png">
      </section>
    </a>
    <!-------------------------------------------------------------------------------------------------->

    <!-------------------------------- START OF HTML FOR MALAYALAM ----------------------------------->
    <a href="Malayalamadmin">
      <section class="card">
        <h1 class="card-header">Malayalam</h1>
          <img src="../assets/image/malayalam.png">
      </section>
    </a>
    <!-------------------------------------------------------------------------------------------------->

    <!-------------------------------- START OF HTML FOR TAMIL ------------------------------------>
    <a href="Tamiladmin">
      <section class="card">
        <h1 class="card-header">Tamil</h1>
          <img src="../assets/image/tamil.jpg">
      </section>
    </a>
    <!---------------------------------------------------------------------------------------------------->

    <!---------------------------------- START OF HTML FOR TELUGU -------------------------------------->
    <a href="Teluguadmin">
      <section class="card">
        <h1 class="card-header">Telugu</h1>
          <img src="../assets/image/telugu.png">
      </section>
    </a>
    <!-------------------------------------------------------------------------------------------------->
  </main>
</body>
