<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="Home"><img src="../assets/image/logo1.jpg"></a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">News Update</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="Home"><i class='bx bx-home'></i> HOME</a></li>
          <li>
            <a href="#"><i class='bx bx-category'></i> CATEGORIES</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="Business"><i class='bx bxs-business'></i> BUSINESS</a></li>
              <li><a href="Education"><i class='bx bxs-book'></i> EDUCATION</a></li>
              <li><a href="Sports"><i class='bx bx-trophy' ></i> SPORTS</a></li>
              <li><a href="Technology"><i class='bx bx-desktop'></i> TECHNOLOGY</a></li>
              <li><a href="Weather"><i class='bx bx-wind'></i> WEATHER</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class='bx bxs-news'></i> NEWSPAPERS</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="English"><i class="fas fa-globe"></i> ENGLISH</a></li>
              <li><a href="Hindi"><i class="fas fa-newspaper"></i> HINDI</a></li>
              <li><a href="Kannada"><i class="fas fa-book-open"></i> KANNADA</a></li>
              <li><a href="Malayalam"><i class="fas fa-network-wired"></i> MALAYALAM</a></li>
              <li><a href="Tamil"><i class="fas fa-align-justify"></i> TAMIL</a></li>
              <li><a href="Telugu"><i class="fas fa-newspaper"></i> TELUGU</a></li>
            </ul>
          </li>
          <li><a href="Login"><i class='bx bx-comment-dots'></i> COMMENT</a></li>
          <li><a href="Login"><i class='bx bxs-user-rectangle'></i> LOGIN</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <section class="titles">

    <h1>News Update</h1><br>
    <p>In this website we are providing newspapers of different languages and catergories of news such as
      Educational news, Business news, Sports news, Technology news ...
    </p>

  </section>
<!------------------------------------------------------------------------------------------------------------>
    <div class="container">
      <h1>Our Services</h1>
      <div class="row">
        <div class="service">
          <a href="Business">
            <i class="fas fa-business-time"></i>
          </a>
            <h2>Business</h2>
        </div>
        <div class="service">
          <a href="Education">
            <i class="fas fa-user-graduate"></i>
          </a>
            <h2>Education</h2>
        </div>
        <div class="service">
          <a href="English">
            <i class="fas fa-globe"></i>
          </a>
            <h2>English Newspaper</h2>
        </div>
        <div class="service">
          <a href="Hindi">
            <i class="fas fa-newspaper"></i>
          </a>
            <h2>Hindi Newspaper</h2>
        </div>
        <div class="service">
          <a href="Kannada">
            <i class="fas fa-book-open"></i>
          </a>
            <h2>Kannada Newspaper</h2>
        </div>
        <div class="service">
          <a href="Malayalam">
            <i class="fas fa-network-wired"></i>
          </a>
            <h2>Malayalam Newspaper</h2>
        </div>
        <div class="service">
          <a href="Sports">
            <i class="fas fa-medal"></i>
          </a>
            <h2>Sports</h2>
        </div>
        <div class="service">
          <a href="Tamil">
            <i class="fas fa-align-justify"></i>
          </a>
            <h2>Tamil Newspaper</h2>
        </div>
        <div class="service">
          <a href="Technology">
            <i class="fas fa-laptop-code"></i>
          </a>
            <h2>Technology</h2>
        </div>
        <div class="service">
          <a href="Telugu">
            <i class="fas fa-newspaper"></i>
          </a>
            <h2>Telugu Newspaper</h2>
        </div>
        <div class="service">
          <a href="Weather">
            <i class="fas fa-temperature-high"></i>
          </a>
            <h2>Weather</h2>
        </div>
      </div>
    </div>
<!------------------------------------------------------------------------------------------------------------>

<!------------------------------- FOOTER --------------------------------->
  <footer>
    <div class="footer">
      <h2>About Us</h2>
        <p>News Application is a service introduced to meet the above requirement and to make the people updated about the news,</p>
        <p>views, reviews, breaking news and latest headlines in different fields also the new inventions around the world.
          </p>
        <ul class="socials">
            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
            <li><a href="https://twitter.com/SIVATHARANI17"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="https://www.instagram.com/siva_tharani17/"><i class='bx bxl-instagram'></i></a></li>
            <li><a href="https://www.linkedin.com/in/sivatharani-v-6771091b4/"><i class='bx bxl-linkedin-square'></i></a></li>
        </ul>
        <br>
    </div>
  </footer>
  <!---------------------------------------------------------------------------------------------------------------------->
</body>
